body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #97fd5f;
}

#quiz-container {
    background: rgb(247, 214, 48);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#question-container {
    margin-bottom: 20px;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}
